<!DOCTYPE html>
<html lang="ja">
  <head>
  <meta charset="UTF-8" />
  <title>{{title}}</title>
</head>
<body>
  <div>
    <h1>{{title}}</h1>
    <p>This is a test.</p>
    <p>{{ff}}</p>
  </div>
</body>

